/* nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  background-color: rgba(14, 13, 13, 0.8);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
} */
/* nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.6s;
} */
/* header #close-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  transition: 0.5s;
  text-decoration: none;
  width: 32px;
  height: 32px;
  z-index: 300;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  padding: 3px;
  background: rgba(255, 255, 255, 0.76);
}
header #close-btn:hover {
  background: chartreuse;
} */
/* nav a:hover {
  color: #f1f1f1;
} */
/* #cover-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 299;
  background-color: rgba(14, 13, 13, 0.8);
} */
/* nav a {
  display: flex;
  align-items: center;
} */
/* .icon-nav {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 20px;
} */

header {
  display: flex;
  flex-direction: row;
  background: rgba(14, 13, 13, 0.8);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
}

nav a {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-right: 20px;
  width: max-content;
}

nav a p:hover {
  color: rgb(211, 210, 206);
}

header #close-btn {
  display: none;
}

#home-nav {
  background: url("../../admin/images/nav/home.png");
  background-size: cover;
}
#stats-nav {
  background: url("../../admin/images/nav/stats-icon.png");
  background-size: cover;
}
#reviews-nav {
  background: url("../../admin/images/nav/rating.png");
  background-size: cover;
}
#web-shop-nav {
  background: url("../../admin/images/nav/shopping-online.png");
  background-size: cover;
}
#settings-nav {
  background: url("../../admin/images/nav/settings-icon\(1\).png");
  background-size: cover;
}
#logout-nav {
  background: url("../../admin/images/nav/logout.png");
  background-size: cover;
}

.icon-nav {
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#firm-icon {
  background: url("../../admin/images/firm-icon.png");
  width: 100%;
  height: 12vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  #firm-icon {
    background: url("../../admin/images/firm-icon.png") rgba(14, 13, 13, 0.8);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
  }
  header {
    display: unset;
  }

  nav {
    display: unset;
  }
  header #close-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    transition: 0.5s;
    text-decoration: none;
    width: 32px;
    height: 32px;
    z-index: 300;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    padding: 3px;
    background: rgba(255, 255, 255, 0.76);
  }

  header #close-btn:hover {
    background: chartreuse;
  }
  .icon-nav {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
  nav {
    padding: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: rgba(14, 13, 13, 0.8);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  nav a:hover {
    color: #f1f1f1;
  }
  #cover-div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 299;
    background-color: rgba(14, 13, 13, 0.8);
  }
  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    transition: 0.6s;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding-top: 15px;
  }
  nav a {
    font-size: 18px;
  }

  header #close-btn {
    background: white;
  }
}

@media (max-width: 767px) {
  nav {
    padding-top: 15px;
  }
  nav a {
    font-size: 18px;
  }

  header #close-btn {
    background: white;
  }
}

@media (max-height: 767px) and (orientation: landscape) {
  #firm-icon {
    height: 12vw;
  }
  nav {
    padding-top: 15px;
  }
  nav a {
    font-size: 15px;
  }

  header #close-btn {
    background: white;
  }
}
